# IDE stuff
.vscode
*.iml

# Mac stuff
.DS_Store

# Debug stuff
__debug_bin

# The output ZIP file
*.zip

# 3rd party libraries
vendor

releases
veracode-js-packager

# the Dockerfile is not ready for release yet
Dockerfile
docker_notes.txt

# PowerPoint stuff
~$demo.pptx
