# Exclude these file extensions from the GitHub language statistics
*.js linguist-vendored
*.ts linguist-vendored
*.html linguist-vendored
*.vue linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
