# IDE stuff
.idea
.vscode
*.iml

# Mac stuff
.DS_Store

# Debug stuff
__debug_bin

# The output ZIP file
*.zip

# 3rd party libraries
vendor

# PowerPoint stuff
~$demo.pptx

# created releases
releases
veracode-js-packager

# test stuff
test-output
